In [58]:
import pandas as pd
import numpy as np

# 1. ì‹œê³„ì—´/í†µê³„ ë°ì´í„° (df_time)
np.random.seed(42)
dates = pd.date_range('2023-01-01', periods=100, freq='D')
prices = np.random.lognormal(mean=2, sigma=1, size=100) * 1000 # ì™œë„ê°€ ìˆëŠ” ë°ì´í„° ìƒì„±
sales = np.random.randint(10, 100, size=100).astype(float)

df_time = pd.DataFrame({'Date': dates, 'Price': prices, 'Sales': sales})

# ê²°ì¸¡ì¹˜ ê°•ì œ ìƒì„± (ë³´ê°„ë²• ì—°ìŠµìš©)
df_time.loc[10:20, 'Sales'] = np.nan 
df_time.loc[50:55, 'Sales'] = np.nan

# 2. ë„“ì€ í˜•íƒœ ë°ì´í„° (df_wide) - Melt ì—°ìŠµìš©
data_wide = {
    'Product': ['A', 'B', 'C'],
    '2023-Q1': [100, 150, 200],
    '2023-Q2': [110, 160, 210],
    '2023-Q3': [105, 155, 205],
    '2023-Q4': [120, 170, 220]
}
df = pd.DataFrame(data_wide)

print("ë°ì´í„° ìƒì„± ì™„ë£Œ!")
print(df_time.head())
print(df.head())

ë°ì´í„° ìƒì„± ì™„ë£Œ!
        Date         Price  Sales
0 2023-01-01  12142.529844   18.0
1 2023-01-02   6434.896126   71.0
2 2023-01-03  14121.359907   46.0
3 2023-01-04  33886.945659   60.0
4 2023-01-05   5846.520075   53.0
  Product  2023-Q1  2023-Q2  2023-Q3  2023-Q4
0       A      100      110      105      120
1       B      150      160      155      170
2       C      200      210      205      220

In [59]:
skew_orig = df_time['Price'].skew()
#print(skew_orig)

df_time['Price_Log'] = np.log1p(df_time['Price'])
skew_log = df_time['Price_Log'].skew()
result1 = abs(skew_orig - skew_log)
print(round(result1, 2))

2.07

In [60]:
df_time['Sales_fill'] = df_time['Sales'].interpolate(method='linear')
df_time['Prev_Sales'] = df_time['Sales_fill'].shift(1)
result2 = df_time['Sales_fill'].corr(df_time['Prev_Sales'])
print(round(result2, 2))
print(df_time.head())

0.25
        Date         Price  Sales  Price_Log  Sales_fill  Prev_Sales
0 2023-01-01  12142.529844   18.0   9.404552        18.0         NaN
1 2023-01-02   6434.896126   71.0   8.769646        71.0        18.0
2 2023-01-03  14121.359907   46.0   9.555515        46.0        71.0
3 2023-01-04  33886.945659   60.0  10.430815        60.0        46.0
4 2023-01-05   5846.520075   53.0   8.673773        53.0        60.0

In [61]:
#print(df.head())
df_melt = pd.melt(df, id_vars=['Product'], var_name='Quarter', value_name='Revenue')
#print(df_melt)

result3 = df_melt[df_melt['Quarter']=='2023-Q4']['Revenue'].sum()
print(round(result3))

510

In [62]:
min_val = df_time['Price'].min()
max_val = df_time['Price'].max()
df_time['Price_Scaled'] = (df_time['Price'] - min_val) / (max_val - min_val)
result4 = sum(df_time['Price_Scaled'] > 0.5)
print(result4)

8

ğŸ“ ì‹¤ì „ ì—°ìŠµ ë¬¸ì œ
ë¬¸ì œ 1. (ì¡°ê±´ í•„í„°ë§ & ì¤‘ì•™ê°’ ëŒ€ì¹˜) Price ì»¬ëŸ¼ì˜ ê²°ì¸¡ì¹˜(NaN)ë¥¼ **Cityë³„ Priceì˜ ì¤‘ì•™ê°’(median)**ìœ¼ë¡œ ì±„ìš°ì‹œì˜¤. ê·¸ í›„, Paymentê°€ 'Card'ì¸ ë°ì´í„°ë“¤ì˜ Price í‰ê· ê°’ì„ êµ¬í•˜ì‹œì˜¤. (ë‹¨, ì†Œìˆ˜ì  ì…‹ì§¸ ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼í•˜ì—¬ ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ì¶œë ¥í•˜ì‹œì˜¤.)

ë¬¸ì œ 2. (ì‹œê³„ì—´ & Groupby) Date ì»¬ëŸ¼ì—ì„œ 'ìš”ì¼'(Monday=0, ... Sunday=6) ì •ë³´ë¥¼ ì¶”ì¶œí•˜ì—¬ Weekday ì»¬ëŸ¼ì„ ë§Œë“œì‹œì˜¤. **'ì£¼ë§' (í† ìš”ì¼, ì¼ìš”ì¼)**ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ë§Œ í•„í„°ë§í•œ í›„, ì´ ë°ì´í„°ë“¤ì˜ Cityë³„ Price **í•©ê³„(sum)**ë¥¼ êµ¬í–ˆì„ ë•Œ ê°€ì¥ í° ê°’ì„ êµ¬í•˜ì‹œì˜¤. (ë‹¨, ì •ìˆ˜ë¡œ ì¶œë ¥í•˜ì‹œì˜¤.)

ë¬¸ì œ 3. (ë°ì´í„° êµ¬ê°„í™” & ë¹ˆë„ìˆ˜) Price ì»¬ëŸ¼ ê°’(ê²°ì¸¡ì¹˜ ì²˜ë¦¬ ì™„ë£Œëœ ìƒíƒœ ê°€ì •)ì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ë¥¼ 3ê°œì˜ êµ¬ê°„ìœ¼ë¡œ ë‚˜ëˆ•ë‹ˆë‹¤.

0 ì´ìƒ 4000 ë¯¸ë§Œ: 'Low'

4000 ì´ìƒ 7000 ë¯¸ë§Œ: 'Mid'

7000 ì´ìƒ: 'High'

'Mid' ê·¸ë£¹ì— ì†í•˜ë©´ì„œ Productê°€ 'A'ì¸ ë°ì´í„°ì˜ **ê°œìˆ˜(í–‰ì˜ ìˆ˜)**ë¥¼ êµ¬í•˜ì‹œì˜¤.

In [63]:
import pandas as pd
import numpy as np

np.random.seed(2024)

# ë°ì´í„° ìƒì„±
dates = pd.date_range('2023-01-01', periods=500, freq='h')
cities = np.random.choice(['Seoul', 'Busan', 'Daegu', 'Incheon'], 500)
products = np.random.choice(['A', 'B', 'C'], 500)
prices = np.random.randint(1000, 10000, 500)
payments = np.random.choice(['Card', 'Cash', 'Pay'], 500)

df = pd.DataFrame({
    'Date': dates,
    'City': cities,
    'Product': products,
    'Price': prices,
    'Payment': payments
})

# ê²°ì¸¡ì¹˜ ì„ì˜ ìƒì„± (Price ì»¬ëŸ¼)
df.loc[10:20, 'Price'] = np.nan

# ë°ì´í„° í™•ì¸
print(df.head())

                 Date     City Product   Price Payment
0 2023-01-01 00:00:00    Seoul       A  2725.0    Cash
1 2023-01-01 01:00:00    Daegu       B  9929.0    Card
2 2023-01-01 02:00:00    Seoul       C  3118.0    Card
3 2023-01-01 03:00:00    Seoul       C  2901.0    Card
4 2023-01-01 04:00:00  Incheon       A  2739.0    Cash

In [64]:
# ë¬¸ì œ 1
fill_nan = df.groupby('City')['Price'].transform('median')

df['Price'] = df['Price'].fillna(fill_nan)
#print(df.info())
result = df[df['Payment']=='Card']['Price'].mean()
print(round(result, 2))

5426.29

In [65]:
# ë¬¸ì œ 2
df['Weekday'] = df['Date'].dt.weekday
q1 = df['Weekday'].isin([5, 6])
result = df.groupby('City')['Price'].sum().sort_values(ascending=False)
print(result)
# loc, iloc, isin ì“°ëŠ”ë²•

City
Incheon    815941.0
Busan      647059.5
Daegu      641636.0
Seoul      599213.0
Name: Price, dtype: float64

In [66]:
def get_category(price):
    if price < 4000: return 'Low'
    elif price < 7000: return 'Mid'
    else: return 'High'

df['Category'] = df['Price'].apply(get_category)
result = len(df[(df['Category']=='Mid') & (df['Product']=='A')])
print(result)

50

ğŸ“ ì‹¤ì „ ì—°ìŠµ ë¬¸ì œ (Large Data)
ë¬¸ì œ 1. (ì‹œê³„ì—´ ë¶„í•´ & ì§‘ê³„) Date ì»¬ëŸ¼ì„ ì´ìš©í•˜ì—¬ **2023ë…„ì˜ 'ì›”ë³„(Month)' ì´ ë²”ì£„ ê±´ìˆ˜(Violent + Theft + Traffic)**ë¥¼ ì§‘ê³„í•˜ì‹œì˜¤. ê·¸ì¤‘ ì´ ë²”ì£„ ê±´ìˆ˜ê°€ **ê°€ì¥ ë§ì•˜ë˜ ì›”(Month)**ì˜ ë²”ì£„ ê±´ìˆ˜ í•©ê³„ë¥¼ êµ¬í•˜ì‹œì˜¤. (ë‹¨, ì •ìˆ˜ë¡œ ì¶œë ¥í•˜ì‹œì˜¤.)

ë¬¸ì œ 2. (ë³µí•© ì—°ì‚° & Groupby ì£¼ì˜ì ) ì „ì²´ ê¸°ê°„ ë™ì•ˆ ê° êµ¬(District)ë³„ë¡œ ë°ì´í„°ê°€ ìˆ˜ì§‘ë˜ì—ˆìŠµë‹ˆë‹¤. **'Zone_A'**ì˜ ì—°ê°„ 10ë§Œ ëª…ë‹¹ í‰ê·  ê°•ë ¥ ë²”ì£„(Violent) ë°œìƒ ê±´ìˆ˜ë¥¼ êµ¬í•˜ì‹œì˜¤.

ê³„ì‚° ë¡œì§: (Zone_Aì˜ ì „ì²´ Violent í•©ê³„ / ë°ì´í„° ìˆ˜ì§‘ ë…„ìˆ˜) / Zone_Aì˜ ì¸êµ¬ìˆ˜ * 100,000

ë°ì´í„° ìˆ˜ì§‘ ë…„ìˆ˜(Years)ëŠ” 5ë…„(2020~2024)ìœ¼ë¡œ ê³„ì‚°í•©ë‹ˆë‹¤.

ê²°ê³¼ê°’ì€ ì†Œìˆ˜ì  ì´í•˜ëŠ” ë²„ë¦¬ê³  **ì •ìˆ˜(int)**ë¡œ ì¶œë ¥í•˜ì‹œì˜¤.

ë¬¸ì œ 3. (ì´ìƒì¹˜ íƒìƒ‰ & ì¡°ê±´ë¶€ í‰ê· ) ì „ì²´ ë°ì´í„° ì¤‘ Traffic ë²”ì£„ ê±´ìˆ˜ê°€ ìƒìœ„ 1%(quantile(0.99)) ì´ìƒì¸ ë‚ ë“¤ì„ **'Traffic_High'**ë¡œ ì •ì˜í•©ë‹ˆë‹¤. ì´ 'Traffic_High' ê·¸ë£¹ì— ì†í•˜ëŠ” ë°ì´í„°ë“¤ì˜ Violent ë²”ì£„ ë°œìƒ ê±´ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì‹œì˜¤. (ë‹¨, ì†Œìˆ˜ì  ì…‹ì§¸ ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼í•˜ì—¬ ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ì¶œë ¥í•˜ì‹œì˜¤.)

In [67]:
import pandas as pd
import numpy as np

# ëœë¤ ì‹œë“œ ê³ ì • (ì •ë‹µ í†µì¼ì„ ìœ„í•´)
np.random.seed(2024)

# 1. ê¸°ë³¸ ì„¤ì •
n_rows = 50000
districts = [f'Zone_{chr(i)}' for i in range(65, 85)] # Zone_A ~ Zone_T (20ê°œ)

# 2. êµ¬ë³„ ì¸êµ¬ìˆ˜ ë§¤í•‘ (Zone_AëŠ” 30ë§Œ, Zone_BëŠ” 35ë§Œ... ëœë¤ ë°°ì •)
pop_map = {d: np.random.randint(200000, 800000) for d in districts}

# 3. ë°ì´í„° ìƒì„±
df = pd.DataFrame({
    'Date': np.random.choice(pd.date_range('2020-01-01', '2024-12-31'), n_rows),
    'District': np.random.choice(districts, n_rows),
    'Violent': np.random.randint(0, 15, n_rows),  # ì¼ì¼ ë°œìƒ ê±´ìˆ˜ë¼ ì ê²Œ ì„¤ì •
    'Theft': np.random.randint(0, 30, n_rows),
    'Traffic': np.random.randint(0, 50, n_rows)
})

# 4. ì¸êµ¬ìˆ˜ ë§¤í•‘ ë° ì •ë ¬
df['Population'] = df['District'].map(pop_map)
df = df.sort_values('Date').reset_index(drop=True)

print(f"ë°ì´í„° ìƒì„± ì™„ë£Œ! í¬ê¸°: {df.shape}")
print(df.head(10))

ë°ì´í„° ìƒì„± ì™„ë£Œ! í¬ê¸°: (50000, 6)
        Date District  Violent  Theft  Traffic  Population
0 2020-01-01   Zone_N        6     21       21      662347
1 2020-01-01   Zone_A       10      3       44      732104
2 2020-01-01   Zone_N        4      8       38      662347
3 2020-01-01   Zone_E       12      0       47      654593
4 2020-01-01   Zone_K       13      5       35      474799
5 2020-01-01   Zone_H        9      5       37      721696
6 2020-01-01   Zone_D        0      7       20      661246
7 2020-01-01   Zone_G       14      5       41      486794
8 2020-01-01   Zone_O       11     28       41      466331
9 2020-01-01   Zone_S        1     10        9      253094

In [68]:
# ë¬¸ì œ 1
df['Date'] = pd.to_datetime(df['Date'])
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month

df['Total'] = df['Violent'] + df['Theft'] + df['Traffic']
q1 = df[df['year']==2023]
result = q1.groupby('month')['Total'].sum().sort_values(ascending=False)
print(result.iloc[0])

41536

In [69]:
# ë¬¸ì œ 2
q2 = df[df['District']=='Zone_A']
year_ratio = (q2['Violent'].sum() / 5) / q2['Population'].iloc[0] * 100000
print(int(year_ratio))

479

In [75]:
# ë¬¸ì œ 3
var = df['Traffic'].quantile(0.99)
def cond(traffic):
    if traffic >= var: return 'Traffic_High'
    else: return 'NoNan'

df['Traffic_check'] = df['Traffic'].apply(cond)

result = df[df['Traffic_check']=='Traffic_High']['Violent'].mean()
print(round(result, 2))

6.94